.main-div {
  min-width: 1100px;
}
.float-left {
  width: 50%;
  float: left;
}
.float-right {
  width: 50%;
  float: right;
}

table {
  margin-left: auto;
  margin-right: auto;
}

select {
  text-align: center;
  font-size: 30px;
  border: 2px;
  border-color: #000;
  border-radius: 5px;
}

.cont {
  text-align: center;
  border-color: #000;
  border-style: groove;
  border-radius: 10px;
  background-color: #444;
  padding: 10px;
  margin: 10px;
  min-width: 1000px;
  align-content: center;
  color: #ddd;
}

.header {
  border-color: #000;
  border-style: groove;
  border-radius: 10px;
  background-color: #444;
  padding: 10px;
  margin: 10px;
  min-width: 1000px;
}

.cont-max-width,
.half-cont {
  text-align: center;
  border-color: #000;
  border-style: groove;
  border-radius: 10px;
  background-color: #444;
  padding: 10px;
  margin: 10px;
  color: #ddd;
}

.cont-max-width {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1000px;
}

.center-content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inline-left-right {
  display: inline;
}

input[type='checkbox'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin: 20px;
}

input {
  font-size: 20px;
}

.menu button {
  background-color: #888;
  border-color: #000;
  border-radius: 3px;
  border: 2px solid #000;
  display: inline-flex;
  align-items: center;
  color: #000;
  border: 3px solid #000;
}

.menu button:hover:enabled {
  border-color: #fff;
  background-color: #888;
  cursor: pointer;
  color: #fff;
}

.search-players button {
  border: 3px solid #000;
}

.block {
  display: block;
}

.inline-block,
.wallet-card,
.menu,
.search-players,
.base-button,
.base-button_no_border {
  display: inline-block;
}
.wallet-card {
  position: fixed;
  right: 2%;
}

.wallet-card button {
  font-size: 30px;
  text-align: center;
  min-height: 85px;
  min-width: 130px;
  border: 3px solid #000;
}

.base-button {
  align-items: center;
  text-align: center;
  font-size: 22px;
  border-radius: 3px;
  border: 3px solid #000;
  width: 200px;
  height: auto;
  min-height: 40px;
  margin: 10px;
}

.base-button_no_border {
  text-align: left;
  background-color: inherit;
  min-width: 200px;
  border: none;
  color: #000;
  font-size: 22px;
  height: 35px;
  margin: 10px;
}

.base-button_no_border:hover:enabled {
  background-color: #444;
  border-color: #fff;
  cursor: pointer;
  color: #fff;
}

.draft-button {
  margin: 0px;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  border: 3px solid #800;
}

.draft-button,
.search-players button,
.wallet-card button,
.base-button {
  background-color: #888;
  border-radius: 3px;
  color: #000;
}

.draft-button:hover:enabled,
.search-players button:hover:enabled,
.wallet-card button:hover:enabled,
.base-button:hover:enabled {
  border-color: #fff;
  background-color: #888;
  cursor: pointer;
  color: #fff;
}
