.float-left {
  width: 50%;
  float: left;
}
.float-right {
  width: 50%;
  float: right;
}

table {
  margin-left: auto;
  margin-right: auto;
}

select {
  text-align: center;
  font-size: 30px;
  border: 2px;
  border-color: #000;
  border-radius: 5px;
}

.cont {
  text-align: center;
  border-color: #000;
  border-style: groove;
  border-radius: 10px;
  background-color: #444;
  padding: 10px;
  margin: 10px;
  min-width: 1000px;
  align-content: center;
  color: #ddd;
}

.header {
  border-color: #000;
  border-style: groove;
  border-radius: 10px;
  background-color: #444;
  padding: 10px;
  margin: 10px;
  min-width: 1000px;
}

.half-cont {
  text-align: center;
  border-color: #000;
  border-style: groove;
  border-radius: 10px;
  background-color: #444;
  padding: 10px;
  margin: 10px;
  color: #ddd;
}

.center-content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inline-left-right {
  display: inline;
}

.menu {
  display: inline-block;
}

input {
  font-size: 20px;
}

.menu button {
  background-color: #888;
  border-color: #000;
  border-radius: 3px;
  border: 2px solid #000;
  display: inline-flex;
  align-items: center;
  color: #000;
  border: 3px solid #000;
}

.menu button:hover:enabled {
  border-color: #fff;
  background-color: #888;
  cursor: pointer;
  color: #fff;
}

.search-players {
  display: inline-block;
}

.search-players button {
  border: 3px solid #000;
}

.walle-card {
  display: inline-block;
  position: fixed;
  right: 2%;
}

.walle-card button {
  font-size: 30px;
  text-align: center;
  min-height: 85px;
  min-width: 130px;
  border: 3px solid #000;
}

.base-button {
  align-items: center;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  border-radius: 3px;
  border: 3px solid #000;
  width: 200px;
  height: auto;
  min-height: 40px;
  margin: 10px;
}

.base-button_no_border {
  background-color: #444;
  border: none;
  color: #000;
  display: inline-block;
  font-size: 22px;
  height: 35px;
  margin: 10px;
}

.base-button_no_border:hover:enabled {
  border-color: #fff;
  cursor: pointer;
  color: #fff;
}

.draft-button {
  margin: 0px;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  border: 3px solid #800;
}

.draft-button,
.search-players button,
.walle-card button,
.base-button {
  background-color: #888;
  border-radius: 3px;
  color: #000;
}

.draft-button:hover:enabled,
.search-players button:hover:enabled,
.walle-card button:hover:enabled,
.base-button:hover:enabled {
  border-color: #fff;
  background-color: #888;
  cursor: pointer;
  color: #fff;
}
