client/node_modules/
client/build/
client/poolInfo/
node_modules/
client/.eslintcache
client/cors-anywhere
contract/build
contract/pool-prediction-idea.txt
client/public/.well-known
scripts/__pycache__/
client/yarn.lock
client/package.json
client/package-lock.json
