.walletCard {
  display: inline-block;
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
  font-size: 15px;
  line-height: 16px;
  max-width: 468px;
  text-align: right;
  position: absolute;
  right: 1%;
  top: 60px;
}

.walletCard button {
  background-color: #888;
  border-color: #000;
  border-radius: 3px;
  border: 2px solid #000;
}

.walletCard button:hover:enabled {
  border-color: #fff;
  background-color: #888;
  cursor: pointer;
}

.walletCard img {
  padding: 0px 10px 0px 0px;
}
