/* .goalItem ul li:hover{
    border-color: #fff;
    border-width: 2px;
} */

.goalItem {
  margin: 0;
  padding: 100, 100;
  min-width: 700px;
  width: 100%;
  border: 2px solid black;
  max-width: 1000px;
}

.goalItem th {
  background-color: #222222;
  color: #eeeeee;
  text-align: center;
  font-weight: bold;
  padding: 3px 2.5px;
}

.goalItem td {
  padding: 1px 1px;
  text-align: center;
  color: #000000;
  background-color: #aaaaaa;
}

.min-width {
  min-width: 700px;
  width: 100%;
}
