.dayGamesFeed {
  min-width: 1000px;
  width: 100%;
}

.dayGamesFeed ul li:hover {
  border-color: #fff;
  border-width: 5px;
}
.dayGamesFeed ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  white-space: nowrap; /*next list item wont go next line*/
  -webkit-overflow-scrolling: touch; /* to scroll on mobile*/
}

.dayGamesFeed ul li {
  background-color: #888;
  border-color: #000;
  display: inline-block;
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  margin: 10px 5px;
  padding: 0 16px 0px 16px;
  max-width: 468px;
  padding-top: 10px;
}

.dayGamesFeed ul td {
  text-decoration-color: #fff;
  font-size: 20px;
}

.dayGamesFeed ul a {
  color: #000;
}

.dateSelector {
  display: inline-block;
}

.dateSelector button {
  background-color: transparent;
  border: none;
}

.dateSelector input {
  color: white;
  border-style: groove;
  text-align: center;
  border-radius: 5px;
  border-width: 3px;
  border-color: #000;
  padding: 4px;
  background: url(../img/icons/calendar.png) no-repeat scroll 7px 6px;
  background-size: 30px;
  cursor: pointer;
  font-size: 35px;
}

.dateSelector input:hover {
  border-color: #fff;
  border-width: 3px;
}

.dateSelector img {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}
