.floatLeft { width: 50%; float: left; background-color: #888888; }
.floatRight {width: 50%; float: right; background-color: #888888; }
.container { overflow: hidden; }

.red-text {color: red;}
.green-text {color: green;}

.tab-background {
  background-color: #888888;
}

.back-site {
  background-color: #888888;
}





.content-table {
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.content-table th {
  background-color: #222222;
  color: #eeeeee;
  text-align: center;
  font-weight: bold;
  padding: 6px 5px;
}

.content-table td {
  padding: 2px 2px;
  text-align: center;
  color: #000000;
  background-color: #aaaaaa;
}

table.content-table tr:hover td{
  background-color: #757575;
}

table.content-table tr th:hover{
  background-color: #757575;
}

.background-app {
  background-color: #32443B;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

body {
  background-color:#888888;
}

button:hover:enabled {
  background-color: #007500;
}

button:disabled{
  opacity: 0.25;
}














li {
  display: inline;
}

.header {
  border-color: #444;
  border-style: groove;
  border-radius: 10px;
  width: 100%;
  display: flex;
}

nav{
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover{
  color: #ffffff;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #444;

  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width:100%
}
















.modal_content {
  text-align:center;
}

.modal_content form {
  text-align:center;
  padding: 10px 20px;
  }

.modal_content input {
  width: 51%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align:center;
  border: 2px solid #444;
  border-radius: 10px;
}






.pool_item ul li:hover{
  border-color: #fff;
  border-width: 2px;
}

.pool_item ul {
  margin: 0; padding: 0;
}

.pool_item ul li{
  border-color: #000;
  display: block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  margin: 10px 5px;
  padding: 0 16px 0px 16px;
  max-width: 468px;
} 

.pool_item ul td{
 text-decoration-color: #fff; 
}

.pool_item ul a{
  color: #000;
}

.pool_item ul button{
  background-color: #a00;
}