.floatLeft {
  width: 50%;
  float: left;
  background-color: #888888;
}
.floatRight {
  width: 50%;
  float: right;
  background-color: #888888;
}
.container {
  overflow: hidden;
}

.red-text {
  color: red;
}
.green-text {
  color: green;
}

.tab-background {
  background-color: #888888;
}

.back-site {
  background-color: #888888;
}

.content-table {
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 700px;
  width: 100%;
}

.content-table th {
  background-color: #222222;
  color: #eeeeee;
  text-align: center;
  font-weight: bold;
  padding: 6px 5px;
}

.content-table tr {
  padding: 2px 2px;
  text-align: center;
  color: #000000;
  background-color: #aaaaaa;
}

table.content-table tr:hover td {
  background-color: #757575;
}

table.content-table tr th:hover {
  background-color: #757575;
}

.background-app {
  background-color: #32443b;
}

body {
  background-color: #888888;
}

button:disabled {
  opacity: 0.25;
}

li {
  display: inline;
}

.pool_item ul li:hover {
  border-color: #fff;
  border-width: 2px;
}

.pool_item ul {
  margin: 0;
  padding: 0;
}

.pool_item ul li {
  border-color: #000;
  display: block;
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  margin: 10px 5px;
  padding: 0 16px 0px 16px;
  max-width: 468px;
}

.pool_item ul td {
  text-decoration-color: #fff;
}

.pool_item ul a {
  color: #000;
}

.pool_item ul button {
  background-color: #a00;
}
